@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,900;1,400&display=swap');

.App {

  background-color: #ebebeb;
  
  width: 100%;
  margin: 0 auto;

  
  /* Small Devices,  */
  @media only screen and (max-width: 600px) {
    width: 75%;
    background-color: yellow;
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }
  

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    background-color: pink;
  }
}


/* 
Style for the App Component
*/

.app-layout {
  background-color: #ebebeb;
}

.container {
  background-color: #ebebeb;
  width: 100%;
  margin: 0 auto;
}
/* 
Style for the Blogs Component
*/
div .blog-container {
  width: 100%;
  padding: 2em;
}

.row-style {
  background-color: #242b31;
}
/* Also used in styling the Blog Link Comompoent */
.col-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}





  /* 
  .blogHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  } */
  /* .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  } */
