@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,900;1,400&display=swap');

.App {

  /* background-color: #ebebeb; */
  background-color: #f4f4f4;
  
  width: 950px;
  margin: 0 auto;

  
  /* Small Devices,  */
  @media only screen and (max-width: 600px) {
    width: 75%;
    background-color: yellow;
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }
  

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    background-color: pink;
  }
}


/* 
Style for the App Component
*/

.app-layout {
  background-color: #f4f4f4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: 1px solid brown;
  /* margin: 0 auto; */
  width: 100%;

}


/* 
Login page
*/

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  background-color: #f4f4f4;
  /* height: 720px; */
  /* border: 1px solid red; */
}

.login-page-box{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 35rem;
  height: 60vh;
  /* background-color: #f2f2f2; */
  background-color: #FFFFFF;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.login-page-header{
  text-align: center;
  width: 35rem;
  height: 120px;
  padding-top: 35px;
  color: #ffffff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #242b31;
  margin-bottom: 35px;
  /* border: 1px solid red; */
}
.login-page-form{
  padding: 5px;
  width: 35em;
  padding: 5px;
  /* border: 2px solid #f2f2f2; */

}

/*
Notification

 */


/* 
Navigation
*/
.nav-header{
  background-color: #242b31;
  height: 10vh;
  width: 100%;
  
}
.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #242b31;
  width: 100%;
  height: 10vh;
}
.nav-logo{
  /* margin: 0 auto; */
  padding: 0px 30px 8px 0px;
  height: 35px;
  width: 15em;
}
.nav-content{
  color: #fFFFFF;
  height: 10vh;
}
.nav-text{
  color: #FFFFFF;
}
.nav-content:hover{
  /* change color */
  /* background-color: #B20101 */
  background-color: #CD2913;
}
.subnav{
  background-color: #CD2913;
  width: 100%;
  height: 2vh;
  z-index: 0;
}
  
/* 
Style for the Blogs Component
*/
.blog-container {
  margin: 0 auto;
  width: 50em;
  padding: 1em;
}

/* Also used in styling the Blog Link Comompoent */
.col-list-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50em;
}

.col-list-flex .info{
  width: auto;
  padding: 5px;
}

.col-list-flex.header {
  background-color: #242b31;
  width: 48em;
  padding: 5px;
  height: 6vh; 
}

.blog-text{
  color: #000
}

.text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle{
  margin: 0 auto;
  width: 48em;
}

.form-div {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  width: 48em;
  margin-top: 10px;
  border: 2px solid #242b31;
  height: 55vh;

}

.submit {
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

/*
Blog Content
*/
.blog-info-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-header{
  font-weight: 600px;
}

.blog-text-foot{
  color: grey;
  font-size: 11;
  float: right;
}

.blog-content {
  margin: 0 auto;
  width: 55%;
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
  padding: 1em;
  white-space: pre-wrap;
  overflow: hidden;
}

.blog-comment {
  margin: 0 auto;
  width: auto;
}


.blog-comment .list{
  padding: 5px;
}

.input-form{
  max-width: 60em;
  min-width: 30px;
  display: inline-block;
  width: 55em;
  padding: 10px;
  padding-left: 10px;
}

/* 
Footer
*/

#footer {
  margin: 0 auto;
  width: 100%;
	padding: 10px 20px 10px 20px;
	clear: both;
	background: #447236;
	text-align: center;
	color: #fff;
}

#footer p {
	margin: 10px 0 0 0;
	font-size: small;
}