@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,900;1,400&display=swap');

.App {

  background-color: #ebebeb;
  
  width: 100%;
  margin: 0 auto;

  
  /* Small Devices,  */
  @media only screen and (max-width: 600px) {
    width: 75%;
    background-color: yellow;
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
  }
  

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
    background-color: pink;
  }
}


/* 
Style for the App Component
*/

.app-layout {
  background-color: #ebebeb;
}

.nav-main {
  background-color: #242b31;
  size: 100%;
}

.nav-main.bar {
  background-color: #242b31;
  size: 100%;
}

/* 
Style for the Blogs Component
*/
.blog-container {
  margin: 0 auto;
  /* width: 800px; */
  width: 50em;
  padding: 1em;
}

/* Also used in styling the Blog Link Comompoent */
.col-list-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50em;
}

.col-list-flex.header {
  background-color: #242b31;
  width: 48em;
  padding: 5px;
  height: 6vh;
  
}

.text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle{
  margin: 0 auto;
  width: 48em;
}

.form-div {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  width: 48em;
  margin-top: 10px;
  border: 2px solid #242b31;
  height: 55vh;

}

.submit {
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

/*
Blog Content
*/

.blog-text-foot{
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  color: grey;
  font-size: 13;
  float: right;
}

.blog-content {
  /* border: 1px solid green; */
  background-color: #ffffff;
  margin: 0 auto;
  width: 50%;
  border-width: 1px 1px 1px 7px;
  box-shadow: 0.1em 0.1em 0.1em 0.1em;
  overflow: hidden;
}

.blog-comment {
  /* border: 1px solid red */
}

.blog-comment .input{
  margin: 0 auto;
  width: 100%;
}

.blog-comment .list{
  padding: 5px;
}

.input-form{
  width: 59em;
  padding: 5px;
}

/* .form-size {
  width
} */